<div class="page-header">
  <h1>Friendships</h1>
</div>

<% if @user_friendship.requested? %>
  <h3>Do you really want to be friends with <%= @friend.first_name %>?</h3>
<% end %>

<div class="form-actions">
  <% if @user_friendship.requested? %>
    <%= simple_form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method: :put do |f| %>
      <% f.submit "Accept Friendship" %>
    <% end %>
  <% end %>
</div>